.weather__header {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__header-title {
  margin-bottom: 2rem;
  text-align: center;
  color: white;
  font-size: 48px;
}

.weather__content {
  padding: 4rem;
}
