.background {
  z-index: -1;
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--bg-color);
}

.clouds {
  z-index: -1;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
}

.cloud {
  animation-delay: 1.5s;
  animation-duration: 3s;
  animation-name: move-clouds;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: relative;
}

.cloud:nth-child(1) {
  animation-duration: 4s;
  fill: var(--color-1);
}
.cloud:nth-child(2) {
  animation-duration: 5s;
  fill: var(--color-2);
}
.cloud:nth-child(3) {
  animation-duration: 6s;
  fill: var(--color-3);
}
.cloud:nth-child(4) {
  animation-duration: 7s;
  fill: var(--color-4);
}

@keyframes move-clouds {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(4%);
  }
}
