.iom-location-card {
  width: 336px;
  position: relative;
  &__title {
    color: var(--accent-color-primary);
  }
  &__actions {
    position: absolute;
    top: 16px;
    right: 16px;
    & > button:not(:last-child) {
      margin-right: 2px;
    }
  }
  &__chart-container {
    margin: 24px 0 0 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__stat {
    &-subtitle {
      display: inline-flex;
      align-items: center;
      & div:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
  & .euiCard__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
