@import "base/_themes";
@import "base/variables.module";

:root {
  --accent-color-primary: #5896f5;
  --accent-color-secondary: #ffffff;
  --color-neutral: #969696;
  --bg-color: #abd3fc;
  --color-1: #4c7aee;
  --color-2: #5896f5;
  --color-3: #67a4f7;
  --color-4: #ffffff;
  --gradient: linear-gradient(
    43deg,
    var(--color-4) 0%,
    var(--color-3) 30%,
    var(--color-1) 66%
  );
}

body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: relative;
  height: 100%;
}

.app {
  padding: 56px 32px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.iom-section {
  margin-top: 112px;
  &__content-wrapper {
    display: flex;
    justify-content: center;
  }
  &__content {
    padding: 4rem;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    &--column {
      flex-direction: column;
    }
    &-item {
      &#{&}#{&} {
        align-items: center;
        flex: 0;
      }
    }
  }
  &__header {
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
      &#{&} {
        margin-bottom: 2rem;
        text-align: center;
        color: var(--accent-color-secondary);
        font-size: 48px;
      }
    }
  }
}
